#  Spark Structured

# Originally

RDD was the primary user-facing API in Spark since its inception.

At the core, an RDD is:

- an immutable distributed collection of elements of your data,

- partitioned across nodes in your cluster that can be operated in parallel

- with a low-level API that offers transformations and actions.

# Is that enough ?

![](https://www.mememaker.net/api/bucket?path=static/img/memes/full/2020/Apr/22/5/rdd-1683.png)

nics @https://www.mememaker.net/meme/rdd-1683

# When to use RDDs?
 
Consider these scenarios or common use cases for using RDDs when:

**Pro**

- you want low-level transformation and actions and control on your dataset;

- your data is unstructured, such as media streams or streams of text;

- you want to manipulate your data with functional programming constructs than domain specific expressions;

**Contra**

- you don’t care about imposing a schema, such as columnar format, while processing or accessing data attributes by name or column;

- you can forgo some optimization and performance benefits available with DataFrames and Datasets for structured and semi-structured data.

![](https://databricks.com/wp-content/uploads/2016/07/memory-usage-when-caching-datasets-vs-rdds.png)

# We love types

![](../images/types.png)

Source to find

![](https://cdn2.hexlet.io/derivations/image/original/eyJpZCI6IjFkMDUwZmZhNGIwNGMxMzU3ZTI0M2UwMDlhYWI1ZmZmLnBuZyIsInN0b3JhZ2UiOiJjYWNoZSJ9?signature=356de17911b2b04657ed56dd6f6b884e5ad82e5def90d2adf8c72bdbe0b05213)

# Evolution

![](../images/human-evolution-monkey-modern-man-programmer-computer-user-isolated-white_33099-1593.jpg)

![](https://image.slidesharecdn.com/jumpstartintoapachesparkanddatabricks-160212150759/95/jump-start-into-apache-spark-and-databricks-13-638.jpg?cb=1463623478)

![](https://databricks.com/wp-content/uploads/2016/06/Unified-Apache-Spark-2.0-API-1.png)

# When should I use DataFrames or Datasets?

- If you want rich semantics, high-level abstractions, and domain specific APIs, use DataFrame or Dataset.
- If your processing demands high-level expressions, filters, maps, aggregation, averages, sum, SQL queries, columnar access and use of lambda functions on semi-structured data, use DataFrame or Dataset.
- If you want higher degree of type-safety at compile time, want typed JVM objects, take advantage of Catalyst optimization, and benefit from Tungsten’s efficient code generation, use Dataset.
- If you want unification and simplification of APIs across Spark Libraries, use DataFrame or Dataset.
- If you are a R user, use DataFrames.
- If you are a Python user, use DataFrames and resort back to RDDs if you need more control.

# A nice comparison

https://data-flair.training/blogs/apache-spark-rdd-vs-dataframe-vs-dataset/

# Demo

In [15]:
import findspark
import pyspark
findspark.find( ) 
findspark

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("TapDataFrame").getOrCreate()

In [2]:
spark

In [16]:
file = "../dataset/olympic-games/summer.csv"  # Should be some file on your system
dataset = spark.read.csv(file,header=True)
dataset

DataFrame[Year: string, City: string, Sport: string, Discipline: string, Athlete: string, Country: string, Gender: string, Event: string, Medal: string]

In [17]:
dataset.show()

+----+------+---------+----------+--------------------+-------+------+--------------------+------+
|Year|  City|    Sport|Discipline|             Athlete|Country|Gender|               Event| Medal|
+----+------+---------+----------+--------------------+-------+------+--------------------+------+
|1896|Athens| Aquatics|  Swimming|       HAJOS, Alfred|    HUN|   Men|      100M Freestyle|  Gold|
|1896|Athens| Aquatics|  Swimming|    HERSCHMANN, Otto|    AUT|   Men|      100M Freestyle|Silver|
|1896|Athens| Aquatics|  Swimming|   DRIVAS, Dimitrios|    GRE|   Men|100M Freestyle Fo...|Bronze|
|1896|Athens| Aquatics|  Swimming|  MALOKINIS, Ioannis|    GRE|   Men|100M Freestyle Fo...|  Gold|
|1896|Athens| Aquatics|  Swimming|  CHASAPIS, Spiridon|    GRE|   Men|100M Freestyle Fo...|Silver|
|1896|Athens| Aquatics|  Swimming|CHOROPHAS, Efstat...|    GRE|   Men|     1200M Freestyle|Bronze|
|1896|Athens| Aquatics|  Swimming|       HAJOS, Alfred|    HUN|   Men|     1200M Freestyle|  Gold|
|1896|Athens| Aquatics|  Swimming|    ANDREOU, Joannis|    GRE|   Men|     1200M Freestyle|Silver|
|1896|Athens| Aquatics|  Swimming|CHOROPHAS, Efstat...|    GRE|   Men|      400M Freestyle|Bronze|
|1896|Athens| Aquatics|  Swimming|       NEUMANN, Paul|    AUT|   Men|      400M Freestyle|  Gold|
|1896|Athens| Aquatics|  Swimming|   PEPANOS, Antonios|    GRE|   Men|      400M Freestyle|Silver|
|1896|Athens|Athletics| Athletics|       LANE, Francis|    USA|   Men|                100M|Bronze|
|1896|Athens|Athletics| Athletics|    SZOKOLYI, Alajos|    HUN|   Men|                100M|Bronze|
|1896|Athens|Athletics| Athletics|       BURKE, Thomas|    USA|   Men|                100M|  Gold|
|1896|Athens|Athletics| Athletics|      HOFMANN, Fritz|    GER|   Men|                100M|Silver|
|1896|Athens|Athletics| Athletics|      CURTIS, Thomas|    USA|   Men|        110M Hurdles|  Gold|
|1896|Athens|Athletics| Athletics|  GOULDING, Grantley|    GBR|   Men|        110M Hurdles|Silver|
|1896|Athens|Athletics| Athletics|   LERMUSIAUX, Albin|    FRA|   Men|               1500M|Bronze|
|1896|Athens|Athletics| Athletics|        FLACK, Edwin|    AUS|   Men|               1500M|  Gold|
|1896|Athens|Athletics| Athletics|       BLAKE, Arthur|    USA|   Men|               1500M|Silver|
+----+------+---------+----------+--------------------+-------+------+--------------------+------+
only showing top 20 rows

In [18]:
dataset.dtypes

[('Year', 'string'),
 ('City', 'string'),
 ('Sport', 'string'),
 ('Discipline', 'string'),
 ('Athlete', 'string'),
 ('Country', 'string'),
 ('Gender', 'string'),
 ('Event', 'string'),
 ('Medal', 'string')]

In [22]:
dataset.select('City','Discipline').head(10)

[Row(City='Athens', Discipline='Swimming'),
 Row(City='Athens', Discipline='Swimming'),
 Row(City='Athens', Discipline='Swimming'),
 Row(City='Athens', Discipline='Swimming'),
 Row(City='Athens', Discipline='Swimming'),
 Row(City='Athens', Discipline='Swimming'),
 Row(City='Athens', Discipline='Swimming'),
 Row(City='Athens', Discipline='Swimming'),
 Row(City='Athens', Discipline='Swimming'),
 Row(City='Athens', Discipline='Swimming')]

In [24]:
dataset.groupBy('Year','Sport').count().collect()

[Row(Year='1896', Sport='Aquatics', count=11),
 Row(Year='1920', Sport='Weightlifting', count=15),
 Row(Year='1952', Sport='Modern Pentathlon', count=12),
 Row(Year='1984', Sport='Equestrian', count=47),
 Row(Year='1948', Sport='Canoe / Kayak', count=39),
 Row(Year='2004', Sport='Weightlifting', count=45),
 Row(Year='1932', Sport='Sailing', count=41),
 Row(Year='1996', Sport='Boxing', count=48),
 Row(Year='1920', Sport='Equestrian', count=42),
 Row(Year='2000', Sport='Badminton', count=24),
 Row(Year='2004', Sport='Fencing', count=61),
 Row(Year='1976', Sport='Rowing', count=162),
 Row(Year='1900', Sport='Basque Pelota', count=4),
 Row(Year='1980', Sport='Sailing', count=36),
 Row(Year='1996', Sport='Rowing', count=144),
 Row(Year='2012', Sport='Badminton', count=24),
 Row(Year='1920', Sport='Tug of War', count=24),
 Row(Year='1924', Sport='Boxing', count=24),
 Row(Year='1968', Sport='Fencing', count=72),
 Row(Year='1972', Sport='Handball', count=45),
 Row(Year='2000', Sport='Handball', count=90),
 Row(Year='1936', Sport='Equestrian', count=39),
 Row(Year='1964', Sport='Shooting', count=18),
 Row(Year='1900', Sport='Gymnastics', count=3),
 Row(Year='1904', Sport='Wrestling', count=21),
 Row(Year='1912', Sport='Football', count=33),
 Row(Year='1980', Sport='Volleyball', count=72),
 Row(Year='1984', Sport='Handball', count=85),
 Row(Year='1960', Sport='Fencing', count=76),
 Row(Year='2008', Sport='Archery', count=24),
 Row(Year='1988', Sport='Archery', count=24),
 Row(Year='1908', Sport='Rackets', count=10),
 Row(Year='1932', Sport='Cycling', count=36),
 Row(Year='1952', Sport='Cycling', count=36),
 Row(Year='1960', Sport='Hockey', count=40),
 Row(Year='1984', Sport='Judo', count=32),
 Row(Year='1988', Sport='Cycling', count=45),
 Row(Year='1992', Sport='Cycling', count=50),
 Row(Year='1992', Sport='Volleyball', count=72),
 Row(Year='1896', Sport='Weightlifting', count=6),
 Row(Year='2000', Sport='Sailing', count=54),
 Row(Year='2012', Sport='Handball', count=87),
 Row(Year='1932', Sport='Shooting', count=6),
 Row(Year='1972', Sport='Hockey', count=47),
 Row(Year='1904', Sport='Tug of War', count=15),
 Row(Year='1964', Sport='Cycling', count=42),
 Row(Year='1996', Sport='Baseball', count=60),
 Row(Year='1996', Sport='Handball', count=96),
 Row(Year='1908', Sport='Jeu de paume', count=3),
 Row(Year='1920', Sport='Shooting', count=198),
 Row(Year='1972', Sport='Weightlifting', count=27),
 Row(Year='2012', Sport='Triathlon', count=6),
 Row(Year='1948', Sport='Football', count=41),
 Row(Year='1956', Sport='Gymnastics', count=100),
 Row(Year='1984', Sport='Aquatics', count=192),
 Row(Year='2004', Sport='Wrestling', count=54),
 Row(Year='1956', Sport='Football', count=46),
 Row(Year='1980', Sport='Canoe / Kayak', count=57),
 Row(Year='1908', Sport='Skating', count=15),
 Row(Year='1948', Sport='Basketball', count=40),
 Row(Year='1984', Sport='Wrestling', count=60),
 Row(Year='1992', Sport='Gymnastics', count=80),
 Row(Year='1960', Sport='Gymnastics', count=73),
 Row(Year='1968', Sport='Boxing', count=44),
 Row(Year='1968', Sport='Wrestling', count=48),
 Row(Year='1936', Sport='Shooting', count=9),
 Row(Year='2004', Sport='Gymnastics', count=99),
 Row(Year='1976', Sport='Football', count=51),
 Row(Year='2012', Sport='Weightlifting', count=45),
 Row(Year='1896', Sport='Cycling', count=16),
 Row(Year='2000', Sport='Football', count=108),
 Row(Year='2004', Sport='Boxing', count=44),
 Row(Year='2004', Sport='Softball', count=45),
 Row(Year='1920', Sport='Polo', count=14),
 Row(Year='1932', Sport='Hockey', count=34),
 Row(Year='1936', Sport='Gymnastics', count=70),
 Row(Year='1948', Sport='Equestrian', count=36),
 Row(Year='2008', Sport='Sailing', count=54),
 Row(Year='1984', Sport='Archery', count=6),
 Row(Year='2008', Sport='Baseball', count=72),
 Row(Year='1900', Sport='Cricket', count=24),
 Row(Year='1920', Sport='Football', count=46),
 Row(Year='1928', Sport='Sailing', count=30),
 Row(Year='1984', Sport='Fencing', count=72),
 Row(Year='1908', Sport='Sailing', count=48),
 Row(Year='1936', Sport='Sailing', count=42),
 Row(Year='1968', Sport='Rowing', count=78),
 Row(Year='1908', Sport='Wrestling', count=27),
 Row(Year='1972', Sport='Fencing', count=71),
 Row(Year='1972', Sport='Judo', count=23),
 Row(Year='1980', Sport='Football', count=51),
 Row(Year='1984', Sport='Rowing', count=162),
 Row(Year='1996', Sport='Basketball', count=72),
 Row(Year='2008', Sport='Football', count=108),
 Row(Year='1924', Sport='Equestrian', count=31),
 Row(Year='1992', Sport='Hockey', count=96),
 Row(Year='1908', Sport='Fencing', count=31),
 Row(Year='1960', Sport='Sailing', count=33),
 Row(Year='1984', Sport='Weightlifting', count=30),
 Row(Year='1988', Sport='Hockey', count=96),
 Row(Year='2008', Sport='Rowing', count=144),
 Row(Year='2012', Sport='Boxing', count=52),
 Row(Year='1960', Sport='Boxing', count=40),
 Row(Year='1924', Sport='Weightlifting', count=15),
 Row(Year='1952', Sport='Rowing', count=78),
 Row(Year='2004', Sport='Archery', count=24),
 Row(Year='1996', Sport='Wrestling', count=60),
 Row(Year='1924', Sport='Athletics', count=128),
 Row(Year='1964', Sport='Sailing', count=33),
 Row(Year='2004', Sport='Handball', count=88),
 Row(Year='2008', Sport='Handball', count=85),
 Row(Year='1952', Sport='Equestrian', count=36),
 Row(Year='1964', Sport='Equestrian', count=36),
 Row(Year='1932', Sport='Weightlifting', count=15),
 Row(Year='1972', Sport='Basketball', count=36),
 Row(Year='1972', Sport='Modern Pentathlon', count=12),
 Row(Year='1996', Sport='Archery', count=24),
 Row(Year='1928', Sport='Gymnastics', count=78),
 Row(Year='1980', Sport='Basketball', count=72),
 Row(Year='1904', Sport='Weightlifting', count=6),
 Row(Year='1920', Sport='Boxing', count=24),
 Row(Year='1948', Sport='Gymnastics', count=72),
 Row(Year='1968', Sport='Shooting', count=21),
 Row(Year='2000', Sport='Gymnastics', count=99),
 Row(Year='1924', Sport='Polo', count=16),
 Row(Year='2004', Sport='Canoe / Kayak', count=84),
 Row(Year='1904', Sport='Roque', count=3),
 Row(Year='1924', Sport='Rowing', count=76),
 Row(Year='1964', Sport='Football', count=50),
 Row(Year='1988', Sport='Tennis', count=24),
 Row(Year='1996', Sport='Table Tennis', count=18),
 Row(Year='2012', Sport='Canoe', count=81),
 Row(Year='1900', Sport='Tennis', count=24),
 Row(Year='1960', Sport='Cycling', count=39),
 Row(Year='1908', Sport='Archery', count=9),
 Row(Year='1948', Sport='Fencing', count=66),
 Row(Year='1956', Sport='Basketball', count=36),
 Row(Year='1972', Sport='Athletics', count=150),
 Row(Year='1920', Sport='Aquatics', count=87),
 Row(Year='1948', Sport='Sailing', count=40),
 Row(Year='1996', Sport='Hockey', count=96),
 Row(Year='2000', Sport='Table Tennis', count=18),
 Row(Year='1896', Sport='Wrestling', count=3),
 Row(Year='1924', Sport='Sailing', count=26),
 Row(Year='1928', Sport='Rowing', count=78),
 Row(Year='1936', Sport='Rowing', count=78),
 Row(Year='1988', Sport='Table Tennis', count=18),
 Row(Year='1900', Sport='Equestrian', count=9),
 Row(Year='1920', Sport='Modern Pentathlon', count=3),
 Row(Year='1976', Sport='Sailing', count=36),
 Row(Year='1980', Sport='Gymnastics', count=75),
 Row(Year='1988', Sport='Weightlifting', count=30),
 Row(Year='2000', Sport='Fencing', count=66),
 Row(Year='1924', Sport='Gymnastics', count=49),
 Row(Year='1912', Sport='Athletics', count=127),
 Row(Year='1964', Sport='Hockey', count=45),
 Row(Year='1984', Sport='Cycling', count=42),
 Row(Year='1976', Sport='Hockey', count=48),
 Row(Year='1988', Sport='Basketball', count=72),
 Row(Year='1988', Sport='Boxing', count=48),
 Row(Year='1932', Sport='Aquatics', count=88),
 Row(Year='1952', Sport='Weightlifting', count=21),
 Row(Year='1964', Sport='Gymnastics', count=73),
 Row(Year='1964', Sport='Athletics', count=135),
 Row(Year='1980', Sport='Equestrian', count=62),
 Row(Year='2012', Sport='Fencing', count=66),
 Row(Year='1936', Sport='Basketball', count=34),
 Row(Year='1972', Sport='Cycling', count=37),
 Row(Year='1988', Sport='Wrestling', count=60),
 Row(Year='1900', Sport='Tug of War', count=12),
 Row(Year='1932', Sport='Boxing', count=24),
 Row(Year='1964', Sport='Boxing', count=40),
 Row(Year='1920', Sport='Fencing', count=76),
 Row(Year='1956', Sport='Wrestling', count=48),
 Row(Year='1992', Sport='Aquatics', count=228),
 Row(Year='2008', Sport='Modern Pentathlon', count=6),
 Row(Year='1972', Sport='Boxing', count=44),
 Row(Year='2012', Sport='Rowing', count=144),
 Row(Year='1972', Sport='Wrestling', count=60),
 Row(Year='1992', Sport='Table Tennis', count=24),
 Row(Year='1996', Sport='Sailing', count=48),
 Row(Year='2008', Sport='Fencing', count=62),
 Row(Year='1932', Sport='Gymnastics', count=45),
 Row(Year='1932', Sport='Fencing', count=65),
 Row(Year='1988', Sport='Modern Pentathlon', count=12),
 Row(Year='1912', Sport='Tug of War', count=16),
 Row(Year='1968', Sport='Volleyball', count=72),
 Row(Year='1980', Sport='Handball', count=84),
 Row(Year='1996', Sport='Shooting', count=45),
 Row(Year='1948', Sport='Modern Pentathlon', count=3),
 Row(Year='1960', Sport='Canoe / Kayak', count=39),
 Row(Year='1992', Sport='Athletics', count=178),
 Row(Year='2000', Sport='Triathlon', count=6),
 Row(Year='1964', Sport='Aquatics', count=145),
 Row(Year='1964', Sport='Canoe / Kayak', count=39),
 Row(Year='1980', Sport='Fencing', count=70),
 Row(Year='1920', Sport='Athletics', count=117),
 Row(Year='1956', Sport='Shooting', count=21),
 Row(Year='1980', Sport='Judo', count=32),
 Row(Year='1900', Sport='Croquet', count=8),
 Row(Year='1912', Sport='Tennis', count=36),
 Row(Year='1932', Sport='Equestrian', count=24),
 Row(Year='1924', Sport='Modern Pentathlon', count=3),
 Row(Year='1976', Sport='Boxing', count=44),
 Row(Year='1988', Sport='Aquatics', count=202),
 Row(Year='1996', Sport='Football', count=104),
 Row(Year='2004', Sport='Sailing', count=54),
 Row(Year='1904', Sport='Football', count=57),
 Row(Year='1984', Sport='Volleyball', count=72),
 Row(Year='1968', Sport='Hockey', count=42),
 Row(Year='1988', Sport='Volleyball', count=72),
 Row(Year='2000', Sport='Basketball', count=72),
 Row(Year='1952', Sport='Aquatics', count=96),
 Row(Year='2000', Sport='Wrestling', count=48),
 Row(Year='1956', Sport='Boxing', count=40),
 Row(Year='1992', Sport='Archery', count=24),
 Row(Year='2000', Sport='Taekwondo', count=24),
 Row(Year='2008', Sport='Hockey', count=98),
 Row(Year='2008', Sport='Volleyball', count=84),
 Row(Year='1920', Sport='Skating', count=12),
 Row(Year='1992', Sport='Weightlifting', count=29),
 Row(Year='1976', Sport='Canoe / Kayak', count=57),
 Row(Year='2004', Sport='Judo', count=56),
 Row(Year='1952', Sport='Athletics', count=126),
 Row(Year='1972', Sport='Canoe / Kayak', count=54),
 Row(Year='1984', Sport='Sailing', count=39),
 Row(Year='1908', Sport='Aquatics', count=48),
 Row(Year='1960', Sport='Weightlifting', count=21),
 Row(Year='1996', Sport='Weightlifting', count=30),
 Row(Year='1908', Sport='Lacrosse', count=33),
 Row(Year='1948', Sport='Wrestling', count=48),
 Row(Year='1968', Sport='Cycling', count=42),
 Row(Year='1976', Sport='Handball', count=84),
 Row(Year='2004', Sport='Cycling', count=76),
 Row(Year='1952', Sport='Fencing', count=66),
 Row(Year='1952', Sport='Hockey', count=38),
 Row(Year='1960', Sport='Athletics', count=129),
 Row(Year='1988', Sport='Gymnastics', count=78),
 Row(Year='1924', Sport='Cycling', count=36),
 Row(Year='1976', Sport='Gymnastics', count=74),
 Row(Year='1980', Sport='Archery', count=6),
 Row(Year='1992', Sport='Badminton', count=24),
 Row(Year='1904', Sport='Lacrosse', count=26),
 Row(Year='1912', Sport='Wrestling', count=15),
 Row(Year='1920', Sport='Ice Hockey', count=27),
 Row(Year='1948', Sport='Athletics', count=126),
 Row(Year='1964', Sport='Modern Pentathlon', count=12),
 Row(Year='2008', Sport='Basketball', count=72),
 Row(Year='1920', Sport='Archery', count=80),
 Row(Year='2004', Sport='Baseball', count=71),
 Row(Year='2012', Sport='Taekwondo', count=32),
 Row(Year='1912', Sport='Modern Pentathlon', count=3),
 Row(Year='1984', Sport='Gymnastics', count=78),
 Row(Year='1988', Sport='Judo', count=28),
 Row(Year='1908', Sport='Cycling', count=30),
 Row(Year='1948', Sport='Shooting', count=12),
 Row(Year='1900', Sport='Shooting', count=52),
 Row(Year='1956', Sport='Rowing', count=78),
 Row(Year='1996', Sport='Athletics', count=180),
 Row(Year='2000', Sport='Aquatics', count=329),
 Row(Year='1976', Sport='Weightlifting', count=27),
 Row(Year='1980', Sport='Weightlifting', count=30),
 Row(Year='1924', Sport='Rugby', count=82),
 Row(Year='1928', Sport='Boxing', count=24),
 Row(Year='1980', Sport='Hockey', count=96),
 Row(Year='1984', Sport='Shooting', count=33),
 Row(Year='1996', Sport='Gymnastics', count=101),
 Row(Year='1912', Sport='Fencing', count=51),
 Row(Year='1920', Sport='Gymnastics', count=202),
 Row(Year='1956', Sport='Hockey', count=42),
 Row(Year='1988', Sport='Sailing', count=45),
 Row(Year='1928', Sport='Equestrian', count=37),
 Row(Year='2012', Sport='Table Tennis', count=24),
 Row(Year='1908', Sport='Rugby', count=30),
 Row(Year='1972', Sport='Aquatics', count=177),
 Row(Year='2008', Sport='Cycling', count=71),
 Row(Year='2008', Sport='Judo', count=56),
 Row(Year='1996', Sport='Canoe / Kayak', count=84),
 Row(Year='1996', Sport='Softball', count=45),
 Row(Year='1976', Sport='Equestrian', count=42),
 Row(Year='1904', Sport='Golf', count=24),
 Row(Year='1920', Sport='Rowing', count=60),
 Row(Year='1928', Sport='Aquatics', count=87),
 Row(Year='1964', Sport='Volleyball', count=72),
 Row(Year='1936', Sport='Fencing', count=66),
 Row(Year='1972', Sport='Sailing', count=39),
 Row(Year='1900', Sport='Polo', count=12),
 Row(Year='1936', Sport='Cycling', count=36),
 Row(Year='1988', Sport='Rowing', count=159),
 Row(Year='2000', Sport='Cycling', count=75),
 Row(Year='2008', Sport='Badminton', count=24),
 Row(Year='1952', Sport='Gymnastics', count=110),
 Row(Year='1956', Sport='Fencing', count=64),
 Row(Year='1960', Sport='Football', count=45),
 Row(Year='2000', Sport='Athletics', count=184),
 Row(Year='1936', Sport='Modern Pentathlon', count=3),
 Row(Year='1992', Sport='Boxing', count=48),
 Row(Year='1992', Sport='Judo', count=56),
 Row(Year='1956', Sport='Modern Pentathlon', count=12),
 Row(Year='1976', Sport='Archery', count=6),
 Row(Year='2004', Sport='Volleyball', count=83),
 Row(Year='2012', Sport='Modern Pentathlon', count=6),
 Row(Year='1976', Sport='Wrestling', count=60),
 Row(Year='1960', Sport='Basketball', count=36),
 Row(Year='2000', Sport='Canoe / Kayak', count=84),
 Row(Year='2012', Sport='Equestrian', count=45),
 Row(Year='1900', Sport='Football', count=35),
 Row(Year='1936', Sport='Hockey', count=53),
 Row(Year='1984', Sport='Modern Pentathlon', count=12),
 Row(Year='1968', Sport='Aquatics', count=177),
 Row(Year='1980', Sport='Cycling', count=36),
 Row(Year='2004', Sport='Hockey', count=95),
 Row(Year='2008', Sport='Tennis', count=18),
 Row(Year='1912', Sport='Equestrian', count=33),
 Row(Year='1964', Sport='Weightlifting', count=21),
 Row(Year='1972', Sport='Archery', count=6),
 Row(Year='2000', Sport='Rowing', count=144),
 Row(Year='2004', Sport='Table Tennis', count=18),
 Row(Year='1908', Sport='Athletics', count=94),
 Row(Year='1920', Sport='Rugby', count=33),
 Row(Year='1920', Sport='Sailing', count=102),
 Row(Year='1936', Sport='Canoe / Kayak', count=42),
 Row(Year='1908', Sport='Hockey', count=22),
 Row(Year='1920', Sport='Hockey', count=42),
 Row(Year='1984', Sport='Canoe / Kayak', count=69),
 Row(Year='2012', Sport='Basketball', count=72),
 Row(Year='1908', Sport='Boxing', count=15),
 Row(Year='1928', Sport='Cycling', count=39),
 Row(Year='1964', Sport='Basketball', count=36),
 Row(Year='1976', Sport='Athletics', count=147),
 Row(Year='1992', Sport='Sailing', count=51),
 Row(Year='1912', Sport='Shooting', count=144),
 Row(Year='1920', Sport='Cycling', count=39),
 Row(Year='1924', Sport='Wrestling', count=39),
 Row(Year='2004', Sport='Triathlon', count=6),
 Row(Year='1992', Sport='Shooting', count=39),
 Row(Year='2008', Sport='Taekwondo', count=32),
 Row(Year='2012', Sport='Football', count=110),
 Row(Year='1908', Sport='Gymnastics', count=119),
 Row(Year='1920', Sport='Tennis', count=24),
 Row(Year='1936', Sport='Aquatics', count=94),
 Row(Year='1968', Sport='Basketball', count=36),
 Row(Year='1968', Sport='Football', count=51),
 Row(Year='2004', Sport='Basketball', count=70),
 Row(Year='2008', Sport='Gymnastics', count=99),
 Row(Year='1912', Sport='Cycling', count=15),
 Row(Year='2012', Sport='Athletics', count=190),
 Row(Year='1904', Sport='Aquatics', count=43),
 Row(Year='1976', Sport='Basketball', count=72),
 Row(Year='1952', Sport='Boxing', count=40),
 Row(Year='1900', Sport='Rugby', count=47),
 Row(Year='1992', Sport='Fencing', count=72),
 Row(Year='1992', Sport='Handball', count=84),
 Row(Year='1904', Sport='Tennis', count=12),
 Row(Year='1964', Sport='Rowing', count=78),
 Row(Year='1960', Sport='Equestrian', count=27),
 Row(Year='2008', Sport='Equestrian', count=45),
 Row(Year='1960', Sport='Modern Pentathlon', count=12),
 Row(Year='1976', Sport='Fencing', count=71),
 Row(Year='1988', Sport='Football', count=61),
 Row(Year='1996', Sport='Badminton', count=24),
 Row(Year='1932', Sport='Rowing', count=78),
 Row(Year='2012', Sport='Tennis', count=24),
 Row(Year='2008', Sport='Softball', count=45),
 Row(Year='1952', Sport='Shooting', count=21),
 Row(Year='1968', Sport='Gymnastics', count=72),
 Row(Year='1900', Sport='Fencing', count=21),
 Row(Year='1912', Sport='Gymnastics', count=200),
 Row(Year='1956', Sport='Cycling', count=36),
 Row(Year='1964', Sport='Wrestling', count=48),
 Row(Year='2000', Sport='Hockey', count=96),
 Row(Year='1932', Sport='Wrestling', count=42),
 Row(Year='1936', Sport='Weightlifting', count=15),
 Row(Year='1984', Sport='Football', count=51),
 Row(Year='1996', Sport='Tennis', count=18),
 Row(Year='1904', Sport='Rowing', count=45),
 Row(Year='1952', Sport='Sailing', count=44),
 Row(Year='1996', Sport='Modern Pentathlon', count=3),
 Row(Year='2008', Sport='Aquatics', count=347),
 Row(Year='1936', Sport='Wrestling', count=42),
 Row(Year='1956', Sport='Aquatics', count=98),
 Row(Year='1960', Sport='Wrestling', count=48),
 Row(Year='2000', Sport='Tennis', count=18),
 Row(Year='2008', Sport='Table Tennis', count=24),
 Row(Year='1948', Sport='Cycling', count=36),
 Row(Year='1976', Sport='Volleyball', count=72),
 Row(Year='2000', Sport='Boxing', count=48),
 Row(Year='2000', Sport='Softball', count=45),
 Row(Year='2004', Sport='Shooting', count=51),
 Row(Year='1972', Sport='Rowing', count=78),
 Row(Year='1976', Sport='Modern Pentathlon', count=12),
 Row(Year='1992', Sport='Modern Pentathlon', count=12),
 Row(Year='2012', Sport='Gymnastics', count=93),
 Row(Year='2012', Sport='Hockey', count=97),
 Row(Year='1980', Sport='Modern Pentathlon', count=12),
 Row(Year='1900', Sport='Aquatics', count=61),
 Row(Year='1996', Sport='Equestrian', count=45),
 Row(Year='1996', Sport='Judo', count=56),
 Row(Year='2008', Sport='Athletics', count=177),
 Row(Year='2008', Sport='Weightlifting', count=45),
 Row(Year='1900', Sport='Cycling', count=6),
 Row(Year='1924', Sport='Tennis', count=24),
 Row(Year='1960', Sport='Shooting', count=18),
 Row(Year='1904', Sport='Gymnastics', count=48),
 Row(Year='1996', Sport='Fencing', count=60),
 Row(Year='1960', Sport='Rowing', count=78),
 Row(Year='1964', Sport='Fencing', count=71),
 Row(Year='1992', Sport='Equestrian', count=45),
 Row(Year='1936', Sport='Handball', count=61),
 Row(Year='1972', Sport='Football', count=70),
 Row(Year='1976', Sport='Shooting', count=21),
 Row(Year='1904', Sport='Boxing', count=19),
 Row(Year='1904', Sport='Cycling', count=21),
 Row(Year='1912', Sport='Sailing', count=73),
 Row(Year='1920', Sport='Wrestling', count=31),
 Row(Year='2000', Sport='Archery', count=24),
 Row(Year='1908', Sport='Tug of War', count=27),
 Row(Year='1924', Sport='Shooting', count=88),
 Row(Year='1928', Sport='Athletics', count=108),

# Biblio
- https://data-flair.training/blogs/apache-spark-rdd-vs-dataframe-vs-dataset/
- https://medium.com/@ravi.g/sparks-structured-api-s-cdeb381f6407
- https://www.kdnuggets.com/2017/08/three-apache-spark-apis-rdds-dataframes-datasets.html
- https://www.slideshare.net/databricks/jump-start-into-apache-spark-and-databricks